{% extends "base_logged_in.html" %}

{% block title %}
My Site - Favorites page
{% endblock title %}

{% block content %}

<div class="form-wrap">
    <form action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-info">
        Add
      </button>
    </form>
    <br>
  </div>
  <div id="droplist">
      <div class="container">
          <div class="preference">
          {% for station in favorite_stations %}
            <ul>
              <li>
                {{ station.get_station_display }}
                <br>
                <br>
                <div id="delete-btn">
                <a href="./remove/{{ station.station }}" class="btn btn-primary" role="button">Remove</a>
              </div> 
              </li>
            </ul>
          {% endfor %}
    </div>
      </div>
  </div>
  {% endblock %}