{% extends "base_logged_out.html" %}

{% block title %}
My Site - Sign up Page
{% endblock title %}

{% block content %}

<div id="container">
    <div class="form-wrap">
    <h1>Sign Up</h1>
    <p>It's free and only takes a minute</p>
    <div class="form-wrap-2">
      <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-info">Sign Up</button>
      </form>
      <br>
      <footer>
        <p>Already have an account? <a href="{% url 'login' %}">Login Here</a></p>
      </footer>
    </div>
    </div>
  </div>
{% endblock %}