{% extends "base.html" %}

{% block base %}
<body>
    <div class="base">
        <nav id="navbar">
            <div >
                <h1 class="logo"><a href="{% url 'home' %}"> BARTer </a></h1>
                <ul>
                    <li><a  href="{% url 'homepage' %}">Home</a> </li>
                    <li><a href="{% url 'signup' %}">Sign up</a> </li>
                    <li><a href="{% url 'login' %}"> Log in</a></li>
                </ul>
            </div>
        </nav>

        {% block content %}

        {% endblock content %}    
    
        </div>
    </body>
{% endblock base %}