{% extends "base.html" %}

{% block title %}
My Site - Favorites
{% endblock title %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="favorites">
    <h1>Favorite 1</h1>
        <div id="droplist">
            <div class="container">
                <ul>
                    <li><span class="pittsburg">Pittsburg</span> lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ex?</li>
                    <li><span class="dublin">Dublin</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ex?</li>
                    <li><span class="fremont">Fremont</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ex?</li>
                    <li><span class="milbrae">Milbrae</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ex?</li>
                </ul>
            </div>
        </div>
    <h1>Favorite 2</h1>
        <div id="droplist">
            <div class="container">
                <ul>
                    <li><span class="pittsburg">Pittsburg</span> lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ex?</li>
                    <li><span class="dublin">Dublin</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ex?</li>
                    <li><span class="fremont">Fremont</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ex?</li>
                    <li><span class="milbrae">Milbrae</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ex?</li>
                </ul>
            </div>
        </div>
</div>
  {% endblock %}