{% extends "base_logged_out.html" %}

{% block title %}
My Site - Home Page
{% endblock title %}

{% block content %}
<div class="animation">
    <h1>BARTer<img src="../../static/images/train.png" alt=""></h1>   
   </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select a Station 
</button>
</button>
</button>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for station_abbr, station_name in station_list %}
        <a class="dropdown-item" href="/{{station_abbr}}">{{station_name}}</a>
    {% endfor %}
  </div>
</div>
<div id="droplist">
    <div class="container">
        <br>
        {% if station_name %}
        <h1>{{station_name|title}}</h1>
        <table class="table table-striped table-bordered table-hover table-sm table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Cars</th>
                    <th scope="col">Arriv. Min</th>
                    <th scope="col">Depart Time</th>
                </tr>
            </thead>
            <tbody>
                {% for train in arrivals %}
                    <tr>
                        <th scope="row"><span style="color:{{train.hexcolor}}">&#9606;</span></th>
                        <td>{{train.destination_name}}</td>
                        <td>{{train.length}} cars</td>
                        <td>
                            {% if train.arrival_minutes == "Leaving" %}
                                LEAVING NOW!!!
                            {% else %} 
                                {{train.arrival_minutes}} minutes
                            {% endif %}
                        </td>
                        <td>{{train.arrival_datetime}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
  {% endblock %}