{% extends "base_logged_out.html" %}

{% block title %}
My Site - Home Page
{% endblock title %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="dropdown-preference">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select a Station 
</button>
</button>
</button>
  </button>
  
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">station 1 Lorem ipsum dolor sit amet.</a>
    <a class="dropdown-item" href="#">station 2 Lorem ipsum dolor sit amet.</a>
    <a class="dropdown-item" href="#">station 3 Lorem ipsum dolor sit amet.</a>
  </div>
</div>
<div id="add-btn">
<button type="button" class="btn btn-primary">Add</button>
</div>
<div id="droplist">
    <div class="container">
        <div class="preference">
        <ul>
            <li>Station 1 <br><br><div id="delete-btn"><button type="button" class="btn btn-primary">Delete</button></div> </li>
            <li>Station 2 <br><br><div id="delete-btn"><button type="button" class="btn btn-primary">Delete</button></div> </li>
            <li>Station 3 <br><br><div id="delete-btn"><button type="button" class="btn btn-primary">Delete</button></div> </li>
        </ul>
    </div>
    </div>
</div>
  {% endblock %}