{% extends "base_logged_in.html" %}

{% block title %}
My Site - Home Logged in
{% endblock title %}

{% block content %}
<div class="favorites">
    {% for station_name, arrivals in station_names_and_arrivals %}
        <h1>{{station_name|title}}</h1>
            <div id="droplist">
                <div class="container">
                    <ul>
                    {% for train in arrivals %}
                        <li>
                            <span style="color:{{train.hexcolor}}">&#9606;</span>
                            {{train.destination_name}}, 
                            {{train.length}} cars, 
                            {% if train.arrival_minutes == "Leaving" %}
                                LEAVING NOW!!!
                            {% else %} 
                                Arriving in {{train.arrival_minutes}} minutes,
                            {% endif %}
                            at time {{train.arrival_datetime}}
                            <span style="color:{{train.hexcolor}}">&#9606;</span>        
                        </li>
                    {% endfor %}

                    </ul>
                </div>
            </div>
    {% endfor %}
    
</div>
  {% endblock %}