{% extends "base_logged_out.html" %}

{% block title %}
My Site - Home Page
{% endblock title %}

{% block content %}
<div class="animation">
    <h1>BARTer<img src="../../static/images/train.png" alt=""></h1>   
   </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select a Station 
</button>
</button>
</button>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for station_abbr, station_name in station_list %}
        <a class="dropdown-item" href="/{{station_abbr}}">{{station_name}}</a>
    {% endfor %}
  </div>
</div>
<div id="droplist">
    <div class="container">
        <ul>
            {% for train in arrivals %}
                <li>
                    <span style="color:{{train.hexcolor}}">&#9606;</span>
                    {{train.destination_name}}, 
                    {{train.length}} cars, 
                    {% if train.arrival_minutes == "Leaving" %}
                        LEAVING NOW!!!
                    {% else %} 
                        Arriving in {{train.arrival_minutes}} minutes,
                    {% endif %}
                    at time {{train.arrival_datetime}}
                    <span style="color:{{train.hexcolor}}">&#9606;</span>
                    
                </li>
            {% endfor %}
            
        </ul>
    </div>
</div>
  {% endblock %}