/* Navbar */

#navbar {
    background: royalblue;
    color: #fff;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
  
  }
  
#navbar a {
    color: #fff;
    font-family: 'Lilita One', cursive;
  }
#navbar ul li a:hover, 
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
  }
#navbar h1 {
    font-size: 30px;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
  }
  
#navbar ul {
    list-style: none;
    float: right;
  }
  
#navbar ul li {
    float: left;
  }
  
#navbar ul li  a{
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding: 20px;
    text-align: center;
  }
  
/* #navbar ul li a:hover, 
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
  } */

body, html{
    height: 100%;
}
body, html{
  background-image: url("../images/bart.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding-top: 70px;
}


.dropdown {
    text-align: center; 
    
}
.dropdown button {
    padding: 20px 200px !important;
    border-radius: 15px;
}
.dropdown-menu a{
    padding: 0px 160px !important; 
    border-radius: 15px;
}

#droplist-container {
    text-align: center;
    
  }

#droplist ul li{
    text-align: center;    
    list-style: none;
    background-color: white;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 600x;
    max-width: 1000px;
}

#droplist ul{
    padding-bottom: 100px;
}


  
  .blue-square {
    background-color: #0074D9;  
    display: inline-block;
  }

  .pittsburg {
      color: yellow;
  }
  .dublin {
      color: blue;
  }
  .richmond {
      color: orange;
  }
  .fremont {
      color: green;
  }
  .milbrae {
      color: red;
  }

 
  #container {
      font-family: "Raleway",sans-serif;
      
      color: white;
      line-height: 1.8;
      margin: 0px auto;
      max-width: 550px;
      min-width: 500px;
      padding-bottom: 200px;
  }

  .form-wrap{
      background: white;
      padding: 15px 25px;
      color: #333;
      border-radius: 15px 50px;
      
  }
  .form-wrap h1,
  .form-wrap p{
      text-align: center;
  }
  .form-wrap-2 p{
      text-align: left;
  }

  .form-wrap .form-group label {
      display: block;
      color: #666;
  }
  .form-wrap .form-group input {
      width: 100%;
      padding: 5px;
      border: #ddd 1px solid;
      border-radius: 5px;
  }
  .form-wrap button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top:20px;
      background: #49c1a2;
      color: white;
      cursor: pointer;
  }
  .form-wrap button:hover {
      background: #37a08e;
  }
  .form-wrap .button-text {
      font-size: 13px;
      margin-top: 20px;
  }
  footer {
      text-align: center
  }
  footer a {
      color: #49c1a2;
  }

  #add-btn{
      text-align: center;
      
  }
  .preference ul li {
      margin-right: 100px;
      padding: 30px;
  }

  .dropdown-preference {
        text-align: center; 
  }
  .dropdown-preference button{
    background: dodgerblue;
    padding: 20px 200px !important;
  }

  .favorites h1{
    padding: 20px 100px;
    background:dodgerblue;
    color: white;
    text-align: center;
    margin: 10px 400px;
    border-radius: 15px;
    font: 20pt;
}
.animation img{
    height: 100px;
}
.animation {
    width: 100px;
    height: 100px;
    font-family:  'Raleway Dots', cursive;
    display: inline;
    font-size: 150px;
    font-weight: 900;
    color: red;
    /* background: red; */
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {left: -200px;}
    to {left: 1000px;}
  }
  
  @keyframes mymove {
    from {left: -200px;}
    to {left: 100%;}
  }
  .material-icons { 
      float: left 55% !important ;
  }